{
	"parser": "babel-eslint",
	"env": {
		"node": true
	},
	"rules": {
		"quotes": [1, "single"],
		"semi": [1, "always"],
		"eol-last": [0],
		"no-mixed-requires": [0],
		"no-underscore-dangle": [0]
	}
}
